@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    color: #111;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo span {
    color: orangered;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: orangered;
    transform: scaleX(0);
    transition: .3s;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

/* ===== HAMBURGER ===== */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* ===== MOBILE ===== */
@media (max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        padding: 30px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}